#main {
    padding-top: 120px;
    background: #2B2B2B;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: calc(100% - 220px);
    height: calc(100% - 100px);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.home-container {
    justify-content: center;
    align-items: center;
    width: calc(100% - 220px);
    height: calc(100% - 100px);
}

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 120px);
    background: #2B2B2B;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

#home #title {
    background: linear-gradient(90deg, #0066FF, #84b3f9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    display: flex;
}

#home #subtitle {
    color: #8D8D8D;
    font-weight: 300;
    font-size: 36px;
}

#text {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#home h1 {
    font-weight: 600;
    font-size: 4rem;
    color: #FFFFFF;
}

#home h3 {
    font-weight: 200;
    color: #8D8D8D;
    margin-top: 1rem;
}

#about,
#professional-experience,
#projects,
#contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

#about {
    min-height: calc((100vh - 120px)/2);
    background: #0A0A0A;
}

#about h2 {
    color: #0066FF;
    font-weight: 500;
}

#about p {
    color: #8D8D8D;
    font-weight: 200;
}

#professional-experience {
    min-height: calc((100vh - 120px)/2);
    background: #2B2B2B;
}

#professional-experience h2 {
    color: #0066FF;
    font-weight: 500;
}

#professional-experience h3,
#professional-experience h4,
#professional-experience p {
    color: #8D8D8D;
}

#projects {
    min-height: calc(100vh - 120px);
    background: #0A0A0A;
}

#projects h1 {
    color: #0066FF;
    font-weight: 500;
}

#projects h2,
#projects h3,
#projects p {
    color: #8D8D8D;
}

#contacts {
    min-height: calc((100vh - 120px)/2);
    background: #0066FF;
}

#contacts h2 {
    color: #0A0A0A;
    font-weight: 500;
}

.contacts-ico {
    height: 45px;
    vertical-align: middle;
    padding: 10px;
    color: #0A0A0A;
    font-size: 24px;
    text-decoration: none;
    display: inline-flex;
    box-sizing: border-box;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.contacts-link:link,
.contacts-link:visited,
.contacts-link:hover,
.contacts-link:active {
    color: #0A0A0A;
}

main ul {
    width: 100%;
    text-align: left;
}

footer {
    text-align: center;
    padding: 10px;
    background: #2B2B2B;
    color: #8D8D8D;
    width: 100%;
    box-sizing: border-box;
}

@media (min-width: 768px) {

    .container,
    .home-container {
        width: calc(100% - 220px);
        height: calc(100% - 100px);
    }

    #home {
        flex-direction: row;
        height: calc(100vh - 120px);
    }

    #text {
        width: 100%;
    }

    #home h1 {
        font-size: 6rem;
    }

    ul {
        text-align: left;
    }
}

footer {
    background: #0A0A0A;
    padding: 16px;
    color: #0066FF;
    width: 100%;
    text-align: center;
}