:root {
    --background: #f5f5f5;
    --text: #000000;
    --link: #0066FF;
}

.dark-mode:root {
    --background: #000000;
    --text: #f5f5f5;
    --link: #0066FF;
}


@media (prefers-color-scheme: dark) {
    .dark-mode:root {
        --background: #f5f5f5;
        --text: #000000;
        --link: #0066FF;
    }

    :root {
        --background: #000000;
        --text: #f5f5f5;
        --link: #0066FF;
    }
}