:root {
    --background: #f5f5f5;
    --text: #000000;
    --link: #0066FF;
}

.dark-mode:root {
    --background: #000000;
    --text: #f5f5f5;
    --link: #0066FF;
}

@media (prefers-color-scheme: dark) {
    .dark-mode:root {
        --background: #f5f5f5;
        --text: #000000;
        --link: #0066FF;
    }

    :root {
        --background: #000000;
        --text: #f5f5f5;
        --link: #0066FF;
    }
}

#dark-mode-switch {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#switch {
    display: none;
}

.slider {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
    background: var(--text);
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.5s;
    z-index: 1;
}

.slider:before {
    content: "";
    position: absolute;
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background: var(--background);
    border-radius: 50%;
    transition: transform 0.4s;
}

#switch:checked + .slider {
    background-color: var(--text);
}

#switch:checked + .slider:before {
    transform: translateX(20px);
}

#sun {
    position: absolute;
    pointer-events: none;
    z-index: 2;
    width: 10px;
    height: 10px;
    right: 8px;
}

#moon {
    position: absolute;
    pointer-events: none;
    z-index: 2;
    width: 9px;
    height: 9px;
    filter: invert(100%);
    left: 8px;
}