footer{
    margin: 0;
    padding: 0;
    background: var(--background);
    width: 100%;
    min-height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    color: var(--text);
    text-decoration: none;
}