header {
    height: 10vh;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.nav {
    width: 80%;
    height: 100%;
    margin-inline: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.nav-list {
    height: 100%;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.nav-list li {
    display: flex;
    flex-grow: 1;
    text-align: center;
    justify-self: center;
    align-items: center;
}

.logo {
    display: none;
    visibility: none;
}

.menu {
    display: none;
    visibility: hidden;
    flex-grow: 0;
    height: 20px;
    width: 20px;
}

#switch {
    flex-grow: 0;
    height: 20px;
    width: 20px;
}

@media (max-width: 750px) {

    header {
        background: var(--background);
        position: fixed;
    }

    .nav {
        height: 10vh;
        width: 80%;
        position: fixed;
    }

    .menu {
        display: block;
        visibility: visible;
        height: 20px;
        width: 20px;
        z-index: 3;
    }

    .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: var(--background);
        clip-path: circle(100px at 90% -15%);
        transition: 0.5s ease-out;
        flex-direction: column;
        justify-content: space-around;
        align-items: self-start;
        pointer-events: none;
        z-index: 2;
        position: fixed;
    }

    .nav-list a {
        font-size: 24px;
    }

    .nav-active .nav-list {
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }

    .logo {
        display: flex;
        visibility: visible;
        flex-grow: 2;
    }

    .dark-mode .nav-list {
        background: var(--text);
    }

    .dark-mode header {
        background: var(--text);
    }
}