header {
    height: 10vh;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.nav {
    width: 80%;
    height: 100%;
    margin-inline: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.nav-list {
    height: 100%;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.nav-list li {
    display: flex;
    flex-grow: 1;
    text-align: center;
    justify-self: center;
    align-items: center;
}

.logo {
    display: none;
    visibility: none;
}

.menu {
    display: none;
    visibility: hidden;
}

@media (max-width: 750px) {

    header {
        background: var(--background);
        position: fixed;
        border-bottom: 10;
        border-color: red; 
    }


    header p:hover{
        color: var(--link);
    }
    
    .nav {
        height: 10vh;
        width: 80%;
        position: fixed;
        display: flex;
    }

    .menu {
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        cursor: pointer;
        visibility: visible;
        height: 50px;
        width: 50px;
        z-index: 5;
        display: inline-block;
        cursor: pointer;
    }

    .bar-top,
    .bar-middle,
    .bar-bottom {
        width: 30px;
        height: 5px;
        background-color: var(--text);
        margin: 6px 15px;
        transition: 0.4s;
    }

    .change .bar-top {
        transform: translate(0, 11px) rotate(-45deg);
    }

    .change .bar-middle {
        opacity: 0;
    }

    .change .bar-bottom {
        transform: translate(0, -11px) rotate(45deg);
    }

    .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: var(--background);
        clip-path: circle(100px at 90% -15%);
        transition: 0.5s ease-out;
        flex-direction: column;
        justify-content: space-around;
        align-items: self-start;
        pointer-events: none;
        z-index: 4;
        position: fixed;
    }

    .nav-list a {
        font-size: 24px;
    }

    .nav-active .nav-list {
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }

    .logo {
        display: flex;
        visibility: visible;
        flex-grow: 1;
    }
}