header {
    background: var(--primary-color);
    color: var(--tertiary-color);
    height: 10vh;
    width: 100%;
    margin: 0;

    padding-inline: 16px;
    
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

header a {
    color: var(--tertiary-color);
    text-decoration: none;
}

header p {
    color: var(--tertiary-color);
    text-decoration: none;
}

header a:hover {
    color: var(--quaternary-color);
}

.dark-mode header {
    background: var(--tertiary-color);
    color: var(--primary-color);
}

.dark-mode header a, .dark-mode .nav-list a {
    color: var(--primary-color);
    text-decoration: none;
}

.dark-mode header p {
    color: var(--primary-color);
    text-decoration: none;
}

.dark-mode header a:hover {
    color: var(--color);
}

.nav {
    max-width: 80%;
    width: 100%;
    height: 120px;
    margin-inline: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    gap: 32px;
    list-style: none;
}

.nav-list a {
    font-size: 18px;
    color: var(--tertiary-color);
    padding-block: 16px;
}

.logo {
    font-size: 48px;
}

.menu-hamburguer {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid var(--tertiary-color);
    cursor: pointer;
}

.dark-mode .menu-hamburguer{
    border-top: 3px solid var(--primary-color);
    background-color: var(--primary-color);
}

.dark-mode .nav-list {
    background-color: var(--terciary-color);
}

.menu-hamburguer::before,
.menu-hamburguer::after {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background-color: var(--tertiary-color);
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}

@media (max-width: 750px) {

    .nav{
        height: 10vh;
    }

    .menu-hamburguer {
        display: block;
        z-index: 1;
    }

    .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: var(--primary-color);
        clip-path: circle(100px at 90% -15%);
        transition: 0.5s ease-out;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        pointer-events: none;
    }

    .nav-list a {
        font-size: 24px;
    }

    .nav-active .nav-list {
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }

    .nav-active .menu-hamburguer {
        position: fixed;
        top: 26px;
        right: 16px;
        border-top-color: transparent;
    }

    .nav-active .menu-hamburguer::before {
        transform: rotate(135deg);
    }

    .nav-active .menu-hamburguer::after {
        transform: rotate(-135deg);
        top: -7px;
    }

    .logo {
        font-size: 20px;
    }
}